

body {
	overflow: hidden;
	font-family:  "WebPlus_IBM_VGA_8x16", Inconsolata, monospace;
	font-weight:normal;
	font-style:normal;
	font-size: 1em;
	color: #009900;
    background-image: black;
}

.frame {
    min-width: 90%;
	min-height: 95%;
	background-color: black;
	background-image: radial-gradient(200% 250% at center, #003232bf, black 100%);
	background-clip: padding-box;
	color: #009900;
	margin: 15;
	overflow: auto;
	padding: 2rem;
	font-family: "WebPlus_IBM_VGA_8x16", Inconsolata, monospace;
	font-size: 24px;
	text-shadow: 0 0 5px #707070;
	animation: textShadow 0.15s infinite;
}

.frame::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 3px, 2px 100%;
    z-index: 2;
    pointer-events: none;
	}

.crt-frame {
    pointer-events: none;
    overflow: hidden;
    z-index: 9000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
			-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	5% {
		text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
			-2.7928974010788217px 0 2px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	10% {
		text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
			-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	15% {
		text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
			-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	20% {
		text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
			-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	25% {
		text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
			-1.6125630401149584px 0 2px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	30% {
		text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
			-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	35% {
		text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
			-3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	40% {
		text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
			-3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	45% {
		text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
			-2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	50% {
		text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
			-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	55% {
		text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
			-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	60% {
		text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
			-2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	65% {
		text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
			-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	70% {
		text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
			-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	75% {
		text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
			-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	80% {
		text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
			-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	85% {
		text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
			-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	90% {
		text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
			-3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	95% {
		text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
			-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	100% {
		text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
			-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
}

@keyframes borderShadow {
    0% {
        box-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
                    -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    5% {
        box-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
                    -2.7928974010788217px 0 2px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    10% {
        box-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
                    -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    15% {
        box-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
                    -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    20% {
        box-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
                    -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    25% {
        box-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
                    -1.6125630401149584px 0 2px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    30% {
        box-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
                    -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    35% {
        box-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
                    -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    40% {
        box-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
                    -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    45% {
        box-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
                    -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    50% {
        box-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
                    -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    55% {
        box-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
                    -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    60% {
        box-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
                    -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    65% {
        box-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
                    -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    70% {
        box-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
                    -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    75% {
        box-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
                    -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    80% {
        box-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
                    -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    85% {
        box-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
                    -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    90% {
        box-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
                    -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    95% {
        box-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
                    -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
    100% {
        box-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
                    -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
                    0 0 3px;
    }
}


.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    pointer-events: none;	
}
.scanline1 {
    width: 100%;
    height: 100px;
    z-index: 18;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 4s linear infinite;
    pointer-events: none;	
}

@keyframes scanline {
    0% {
        bottom: 100%;
    }
    80% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}

#screen {
    position: relative;
	background-color: #001d1d;
	margin: auto;
    width: 97%;
    overflow: hidden;
}

.cristal {
    pointer-events: none;	
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
	opacity: 60%;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 2px 100%;
	
}
.container {
            position: relative;
            left: 56px;
            display: inline-block;
        }
    
        .text {
            font-size: 1.25em;
            transform: translateX(56px);
            letter-spacing: 2.5px;
            font-family: monospace;
            border-right: 2.5px solid #009900;
            width: 100%;
            margin-top: 20%;
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2.3s steps(32), cursor 0.5s step-end infinite alternate;
            transition: opacity 0.5s ease;
        }
    
        @keyframes cursor {
            50% { border-color: transparent; }
        }
    
        @keyframes typing {
            from { width: 0; }
        }
    
        .yn {
            position: absolute;
            left: 56px;
            border: solid;
            background-color: #00323200;
            border-radius: 6px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-inline: 5px;
            border-color: #009900;
            color: #009900;
            border-width: 1px;
            font-family: monospace;
            font-size: 1.25em;
            outline: none;
            animation: show 0s both, textShadow 0.15s infinite, borderShadow 0.15s infinite;
            animation-delay: 3s;
            z-index: 1;
        }
    
        @keyframes show {
            from { visibility: hidden; }
            to { visibility: visible; }
        }
    
        .answer {
            position: absolute;
            top: 110px; 
            left: 56px;
            margin-top: 20%;
            display: none;
            background: rgba(0, 0, 0, 0);
            border: solid;
            color: #009900;
            border-color: #009900;
            padding-left: 3px;
            padding-top: 6px;
            padding-bottom: 6px;
            border-radius: 5px;
            border-width: 1px;
            outline: none;
            font-family: monospace;
            font-size: 1.25em;
            animation: show 7.5s both, textShadow 0.15s infinite, borderShadow 0.15s infinite;
            animation-delay: 7.5s;
        }
    
        .yno {
            font-size: 1.25em;
            letter-spacing: 2.5px;
            font-family: monospace;
            border-right: 2.5px solid #009900;
            width: 460px;
            white-space: nowrap;
            overflow: hidden;
            animation: typingg 2.3s steps(24), cursorr 0.5s step-end infinite alternate;
            display: none;
            position: absolute;
            margin-top: 20%;
            top: 50px;
            left: 56px;
        }
    
        @keyframes cursorr {
            50% { border-color: transparent; }
        }
    
        @keyframes typingg {
            from { width: 0; }
        }
    
        /* the second question asked */
        .text1 {
            font-family: monospace;
            margin-top: 20%;
            font-size: 1.25em;
            white-space: nowrap;
            width: 1630px;
            overflow: hidden;
            letter-spacing: 2.5px;
            border-right: 2.5px solid #009900;
            animation: typing1 7s steps(105), cursor1 0.5s step-end infinite alternate;
            position: absolute;
            top: 50px;
            left: 56px;
            display: none;
        }
    
        @keyframes cursor1 {
            50% { border-color: transparent; }
        }
    
        @keyframes typing1 {
            from { width: 0; }
        }
    
        /* success/rejection messages */
        .live {
            position: absolute;
            top: 120px;
            font-family: monospace;
            margin-top: 20%;
            font-size: 1.25em;
            left: 58px;
            display: none;
            white-space: nowrap;
            overflow: hidden;
            width: 775px;
            animation: live 4s steps(37), spacee 0.5s step-end infinite alternate;
            border-right: 2px solid #009900;
            letter-spacing: 2.5px;
        }
    
        @keyframes spacee {
            50% { border-color: transparent; }
        }
    
        @keyframes live {
            from { width: 0; }
        }
    
        .dead {
            position: absolute;
            top: 120px;
            margin-top: 20%;
            font-family: monospace;
            font-size: 1.25em;
            left: 56px;
            display: none;
            white-space: nowrap;
            overflow: hidden;
            width: 1300px;
            animation: live 3s steps(60), spacee 0.5s step-end infinite alternate;
            border-right: 2px solid #009900;
            letter-spacing: 2.5px;
        }

        /* pause the animation for typing */
        .text-paused {
            animation-play-state: paused;
        }

        /* sticky note with password on it */
        .sticky {
        position: absolute;
        height: 40%;
        width: auto;
        z-index: 99999;
        left: 70%;
        top: 23%;
        transform: rotate(-3deg);
        }

  
